<!-- Partials/Teaser/TeaserImageText.html -->

<article class="col col-12 col-sm-12 col-md-4">
    <div class="teaser-box">

        <f:if condition="{page.teaserImage}">

        <section class="teaser-image">

            <f:if condition="{page.teaserImage}">
                <f:link.page pageUid="{f:if(condition:'{page.doktype}==3',then:'{page.url}',else:'{page.uid}')}"
                             target="{f:if(condition: '{page.doktype}==3', then: '_blank', else: '_self')}">
                    <f:image src="{page.teaserImage.uid}" treatIdAsReference="1" alt="{page.teaserImage.title}" width="330c" height="180c"/>
                </f:link.page>
            </f:if>
        </section>

        </f:if>

        <section class="teaser-content-wrapper">

            <header>
                <f:link.page pageUid="{f:if(condition:'{page.doktype}==3',then:'{page.url}',else:'{page.uid}')}"
                             target="{f:if(condition: '{page.doktype}==3', then: '_blank', else: '_self')}">
                    {page.teaserTitle}
                </f:link.page>
            </header>

            <div class="teaser-content">

            <f:if condition="{page.teaserSubTitle}">
                <h5>
                    {page.teaserSubTitle}
                </h5>
            </f:if>

            <f:if condition="{page.teaserDescription}">
                <div class="teaser-description">
                    <f:format.raw>{page.teaserDescription}</f:format.raw>
                </div>
            </f:if>
            </div>

            <footer>
                <div class="more"><f:link.page pageUid="{page.uid}"><i class="sprite sprites-arrow-white-medium-right"></i></f:link.page></div>
            </footer>

        </section>

    </div>
</article>